<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.itit.shell">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme"
            >
        </activity>
        <activity
            android:name=".ui.ShowImageActivity"
            android:label="显示图片"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MyHoloFullScreenTheme">
        </activity>
        <activity
            android:name=".ui.GuideActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".ui.PresentPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NewTransparent"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            >
        </activity>

        <activity
            android:name=".wxapi.ShellWXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".wxapi.ShellWXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>